@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: #DB4778;
    border: 1px solid #DB4778;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: 600;
}